.btn {
  text-align: center;
  font-weight: font-weight(bold);
  border-radius: 10px;
  &.btn-lg {
    padding: 12px 20px;
    font-size: 16px;
  }
  &.btn-md {
    padding: 9px 14px;
    font-size: 16px;
  }
  &.btn-sm {
    padding: 5px 10px;
    font-size: 14px;
  }

  &.btn-icon{
    &-lg{
      @include flex(center, center, row);
      background-color: colors(light);
      border-radius: 10px;
      width: 52px;
      height: 52px;
    }
    &-md{
      @include flex(center, center, row);
      background-color: colors(light);
      border-radius: 10px;
      width: 44px;
      height: 44px;
    }
    &-sm{
      @include flex(center, center, row);
      background-color: colors(light);
      border-radius: 10px;
      width: 32px;
      height: 32px;
    }

  }
}

.btn-primary,
.btn-primary-disable {
  background-color: colors(primary);
  border-color: colors(primary);
  color: colors(light);
  &:hover,
  &:focus,
  &:active {
    transform: translateX(20px);
    box-shadow: 0px 0px 10px colors(primary);
    background-color: color_lighten(primary, 5%);
  }
}
.btn-outline-primary,
.btn-outline-primary-disable {
  color: colors(primary);
  border: 2px solid colors(primary);
  &:hover,
  &:focus,
  &:active {
    color: colors(light);
    background-color: colors(primary);
  }
}
